@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");

body {
  font-family: "Spline Sans Mono", monospace;
}

nav {
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#items-about {
  height: 70vh;
}

#about p {
  text-align: justify;
}

#mie-ayam {
  order: 3;
}

#mie-ayam-jamur {
  order: 2;
}

#mie-ayam-bakso {
  order: 1;
}

#mie-ayam-bakso-mercon {
  order: 6;
}

#mie-ayam-pangsit {
  order: 5;
}

#mie-ayam-ceker {
  order: 4;
}

#kategori {
  display: flex;
}

.shadow-custom {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

/* tombol darkmode */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* costum bootstrap */
.btn-primary {
  background-color: #3b82f6 !important;
  border-color: #3b82f6 !important;
}

.bg-hitam {
  background-color: #f1f5f9;
}

.bg-hitam-sedang {
  background-color: #cbd5e1;
}

.bg-hitam-legam {
  background-color: #1f2937;
}

.text-title {
  font-size: 50px;
}

.bg-card {
  background: linear-gradient(to right, #444, #333);
}

.right img {
  height: auto;
  width: 85%;
}

.mw-p {
  max-width: 60%;
}

.mw-p-full {
  max-width: 100%;
}

.text-black {
  color: black;
}

.jarak {
  gap: 200px;
}

.bg-black-nav {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.bg-light-nav {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.ungu {
  color: #a855f7;
}

#pembungkus-gallery img {
  border-radius: 10px;
}

.hover-shadow-custom-dark,
.hover-shadow-custom-light {
  transition: box-shadow 0.3s ease-in-out;
  border: none;
}

.hover-shadow-custom-light:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.hover-shadow-custom-dark:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* responsifbe */
@media screen and (max-width: 760px) {
  /* hero */
  #pembungkus-hero {
    display: block !important;
  }

  #items-about {
    height: auto;
  }

  #search {
    margin-bottom: 20px;
  }

  #gallery {
    height: auto;
  }

  .mw-p {
    max-width: 100%;
  }

  .right {
    text-align: center;
  }

  .right img {
    width: 70%;
  }

  #pembungkus-gallery {
    display: block !important;
    justify-content: center;
  }

  #left-gallery,
  #right-gallery {
    width: 100% !important;
    height: auto !important;
  }

  #left-gallery {
    margin-bottom: 20px;
  }

  #right-gallery iframe {
    height: 50vh;
  }

  #kategori {
    display: block;
    gap: 0;
  }

  #kategori div {
    margin-top: 50px;
  }

  body {
    padding: 78px 0 0 0;
  }
}
